html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  /* color: white; */
  background-image: url(./assets/image.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 6rem;
  text-align: center;
}

h1,
p {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 2rem;
}

img {
  height: 100px;
  width: auto;
}